<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Index</title>
    <!-- css -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.0/reset.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="center">
        <div class="container">
            <h1>OAuth Project</h1>
            <a href="/oauth2/authorization/google" class="google">Google Login</a>
            <a href="/oauth2/authorization/naver" class="naver">Naver Login</a>
            <a href="/oauth2/authorization/kakao" class="kakao">Kakao Login</a>
        </div>
    </div>
</body>
</html>
